.footer {
  padding: 80px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: self-start;
    flex-wrap: wrap;
    gap: 40px 20px;
  }

  section {
    padding: 0;
  }

  .widget_nav_menu {

    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      font-size: 14px;
      font-weight: 800;
      line-height: 1.42;
      text-transform: uppercase;
      color: $colorMain;
      gap: 40px 80px;
      margin-bottom: -24px;

      @include media-mobile {
        font-size: 14px;
        gap: 20px;
        column-count: 2;
        justify-content: left;
      }

      li {
        @include media-mobile {
          width: calc((100% - 20px) / 2);
        }
      }

      a {
        transition: $transitionMain;

        &:hover {
          color: $colorBlue;
        }
      }

    }
  }

  &__right {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px 80px;
  }
}
