.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: $colorWhite;

  &__inner {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    padding: 20px 0;
  }

  &__button {
    font-size: 14px;
    line-height: 1.42;
    padding: 14px 24px;

    @include media-laptop {
      font-size: 22px;
    }

    @include media-mobile{
      font-size: 14px;
    }
  }

  .header__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px 54px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.42;

    @include media-laptop {
      flex-direction: column;
      font-size: 26px;
      padding-top: 30px;
    }

    @include media-mobile {
      flex-direction: column;
      font-size: 20px;
      padding-top: 0;
      gap: 0;
    }

    li a {
      transition: $transitionMain;

      @include media-mobile {
        padding-bottom: 20px;
        display: block;
      }

      &:hover {
        color: $colorBlue;
      }
    }
  }

  .button-block-mobile {
    display: none;

    @include media-laptop {
      display: block;
    }
  }

  .button-block-desktop {

    @include media-laptop {
      display: none;
    }
  }

  .main-nav {
    @include media-laptop {
      position: absolute;
      z-index: 100;
      top: 100%;
      left: 0;
      right: 0;
      background-color: $colorBlueExtraLight;
      height: calc(100vh - 80px);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      gap: 30px;
      padding: 30px 20px 60px;
      clip-path: inset(0 0 0 100%);
      transition: $transitionMain;
      overflow: scroll;
    }

    @include media-mobile {
      margin-left: 0;
      padding: 30px 20px 100px;
    }

    @include media-mobile-small {
      padding: 30px 20px 60px;
    }

    &.open {
      @include media-laptop {
        clip-path: inset(0 0 0 0);
      }
    }
  }
}

.logo {
  max-width: 100px;
  width: 100%;
}

.menu-icon-wrapper {
  transition: all 0.3s ease 0.6s;
  position: relative;
  display: none;

  @include media-laptop {
    display: block;
  }
}

.menu-icon {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.menu-icon > span {
  position: absolute;
  top: 50%;
  display: block;
  width: 100%;
  height: 3px;
  background-color: $colorMain;
  border-radius: 3px;
  transition: transform 0.3s, background 0.25s ease;
}

.menu-icon > span:before,
.menu-icon > span:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $colorMain;
  border-radius: 3px;
  transition: transform 0.3s, background 0.25s ease;
}

.menu-icon > span:before {
  transform: translateY(-0.75em);
}

.menu-icon > span:after {
  transform: translateY(0.75em);
}

//OPENED

.menu-icon.open {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.menu-icon.open > span:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.menu-icon.open > span:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}