$paddingMainSize: 20px;
$mainSize: 1200px + $paddingMainSize * 2;
$mainSizeLarge: 1440px + $paddingMainSize * 2;

//colors
$colorMain: #030D25;
$colorBlack: #000;
$colorWhite: #fff;
$colorBorder: #C4C6CC;
$colorBlue: #2E85FE;
$colorBlueLight: #70ACFB;
$colorBlueExtraLight: #F7FAFF;
$colorButton: #455475;
$colorGrey: #A3ABBB;
$colorGreyLight: #F3F4F9;
$colorVioletLight: #C3C9E2;
$colorFooter: #6E8190;

//borders
$borderButton: 2px solid $colorBorder;

//transition
$transitionMain: all 0.3s linear;

//media size
$mediaWidthMobileSmall: 350px;
$mediaWidthMobile: 767px;
$mediaWidthTablet: 991px;
$mediaWidthLaptop: 1024px;

//media
@mixin media-desktop-small {
  @media (max-width: 1100px) {
    @content;
  }
}

@mixin media-large-laptop {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin media-laptop {
  @media (max-width: $mediaWidthLaptop) {
    @content;
  }
}

@mixin media-tablet {
  @media (max-width: $mediaWidthTablet) {
    @content;
  }
}

@mixin media-mobile {
  @media (max-width: $mediaWidthMobile) {
    @content;
  }
}

@mixin media-mobile-landscape {
  @media (max-width: $mediaWidthMobile) and (orientation: landscape) {
    @content;
  }
}

@mixin media-mobile-small {
  @media (max-width: $mediaWidthMobileSmall) {
    @content;
  }
}

@mixin media-height-desk-low {
  @media (max-height: 800px) and (min-width: 768px) {
    @content;
  }
}

@mixin media-height-desk-extra-low {
  @media (max-height: 600px) and (min-width: 768px) {
    @content;
  }
}

@mixin media-height-desk-low {
  @media (max-height: 800px) and (min-width: 768px) {
    @content;
  }
}

@mixin media-height-desk-large {
  @media (min-height: 1050px) and (min-width: 768px) {
    @content;
  }
}

@mixin media-height-830 {
  @media (max-height: 830px) {
    @content;
  }
}

@mixin media-height-730 {
  @media (max-height: 730px) {
    @content;
  }
}

@mixin media-landscape {
  @media (orientation: landscape) {
    @content;
  }
}
